.main{
    min-width: 200px; // Set the minimum width of the component
    background-color: #f2f2f2;
    padding: 40px;
    border-radius: 8px;
    max-height: 60vh;
   h2{
    padding-bottom: 20px ;
   }
    @media (max-width: 768px) {
      /* Reduce the width when the screen width is less than or equal to 768px */
      min-width: 100px;
    }
}
.container{
  display: flex;
  flex-direction: row;
  gap: 40px;
  flex-wrap: wrap;
 }