@import "../styles/variables/variables";

.container-sidebar{
    display: flex;
    
    flex-direction:column;
    justify-content: flex-start;
    font-family: $font-family;
    
    .container-main{
        flex-direction:column;
        justify-content:flex-start;
        padding:20px 0;

    }
}