@import "../styles/variables/variables";

.container-sidebar{
    display: flex;
    width: 100%;
align-items: start;
    flex-direction:column;
    justify-content: flex-start;
    font-family: $font-family;
    background-color: #fff;
    .container-side{
        display: flex;
        flex-direction:column;
        width:100% ;
        justify-content:flex-start;
        
        

    }
    @media (max-width: 666px) {
    .container-sidebar{
        display:flex;
    flex-direction: column;
    
     width:100% ;
    background-color: aqua;
    max-height: 15vh;
    .container-side{
        width: 100%;
        display: flex;
        justify-content: fSlex-start;
        flex-direction: row;
         
    }
    }
    }
}