@import "/src/styles/variables/variables";
.trendContainer {
  min-width: 200px; // Set the minimum width of the component
  background-color: #f2f2f2;
  padding: 40px 40px 0px 40px;
  margin-bottom: 10px;
  border-radius: 8px;
  display: flex;
justify-content: center;
   gap: 10px;
  flex-direction: column;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  min-height: 55vh;
  h2 {
    display: flex;
    font-family: $font-family-primary;
    justify-content: flex-start;
font-style: bold;
    padding-bottom: 20px;
  }
  .container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
  }

  .second-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    padding: 10px 0;
  }
  p {
    padding: 4px;
    font-family: $font-family-primary;
    font-weight: 100;
  }

  @media (max-width: 768px) {
    /* Reduce the width when the screen width is less than or equal to 768px */
    min-width: 100px;
    margin: 10px 20px;
    .second-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  
}
