@import "../styles/variables/variables";
.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  padding: 20px 20px;
  background-color: #fff;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  display: flex;
  color: black;

  position: relative;
  .search {
    position: relative;

    padding-bottom: 10px;
    background-color: #fff;
    padding: 15px;
    border: 2px solid rgb(169, 166, 166);

    min-width: 40vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 10px;
    .inputtag {
      border: none;
      outline: none;
      min-width: 40vw;
    }
    img {
      position: absolute;
      /* Adjust the position of the icon as needed */
      width: 20px;
      height: 20px;
      bottom: 0;
      right: 10px;
    }
  }
  .container {
    display: flex;
    flex-direction: row;
    min-width: 100%;
    gap: 10px;
    .sidebar {
      flex:1;
      max-width: 25%;
      max-height: 90vh;
      
      
      background-color: #fff;
    }
    .container-main {
      flex: 3;
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
    
      max-height: 450px; /* Set a max height to trigger the scroll */
      overflow-y: auto;
      scrollbar-width: none;
      
     max-width: 80%;
      min-height: 90vh;
      background-color: #fff;
    }
    .container-main::-webkit-scrollbar{
      display: none;
    }
  }
  @media (max-width: 768px) {
    /* Reduce the width when the screen width is less than or equal to 768px */
    .container-main{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      min-height: 40vh;
      width:100%;
      
    }
    
  }
  @media (max-width: 666px) {
    /* Reduce the width when the screen width is less than or equal to 768px */
  .main{
    display: flex;
    width: 100%;
    align-items: flex-start;
    align-self: flex-start;
 
      form{
        padding-right: 30px;
        position: absolute;
        right: 20px;
        left: 0;
        
        justify-content: flex-start;
        .search{
          float: left;
        top: 0;
        width: 100%;
      }
   
  }
  }
    .container{
      
    
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100% ;
       .sidebar{
        min-width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        
        flex-direction: column;
       }
  }
     
  }
  @media (max-width: 364px) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
    .search {
      position: relative;
  
      padding-bottom: 10px;
      background-color: #fff;
      padding: 15px;
      border: 2px solid rgb(169, 166, 166);
  
    width: 46vw;
      display: flex;
       
      justify-content: space-between;
      border-radius: 10px;
      .inputtag {
        border: none;
        outline: none;
        min-width: 40vw;
      }
      img {
        position: absolute;
        /* Adjust the position of the icon as needed */
        width: 20px;
        height: 20px;
        bottom: 0;
        right: 10px;
      }
    }
    .container {
      display: flex;
      
      min-width: 100%;
       
     
      .container-main {
          display: flex;
        flex-wrap: wrap;
        gap: 15px;
      
        max-height: 50px; /* Set a max height to trigger the scroll */
        overflow-y: auto;
        scrollbar-width: none;
        
       max-width: 80%;
        min-height: 90vh;
        background-color: #fff;
      }
      .container-main::-webkit-scrollbar{
        display: none;
      }
    }
  }
  
}
