@import "../../styles/variables/variables";

 

.cards{
    list-style: none;
    text-decoration: none;
    p{
        color:$secondary-color;
    }
    .fashion_image{
        border-radius: 5px;
    }
 }