.price{
    display: flex;
     justify-content:flex-start;
     flex-direction: column;
    gap: 10px;
    font-size: 16px;
    
    .price-container{
        display: flex;
        flex-direction: row;

        align-items: center;
        justify-content: space-between;
       
    }
    .dropdown-content ul li{
        display: flex;
        padding: 5px 0;
    }
    
    
}

