/* search-bar.scss */

/* Variables */
$search-bar-background: #f0f0f0;
$search-bar-border: 1px solid #ccc;
$search-bar-padding: 10px;
$search-icon-color: #666;

/* Search bar container */

.search-bar {
  padding-top: 13vh;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  .search {
    display: flex;
    padding-bottom: 10px;

    background-color: white;
    padding: 18px;
    border: none;
    border-radius: 10px;
    .inputtag {
      min-width: 50vw;
      border: none;
      outline: none;
    }
    img {
      position: absolute;
      /* Adjust the position of the icon as needed */
      width: 20px;
      height: 20px;
      right: 10px;
    }
  }
  .second-container{
    margin-top:15px;
  }
}
