/* src/index.css or src/index.scss */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

$primary:#fff;
$primary-color: #282829;
$secondary-color: #615e5e;

// font familys
$font-family: 'Inter', sans-serif;
$font-family-primary: 'monospace', sans-serif;
$font-family-secondary: 'Arial', sans-serif;

$font-weight:300