.search-bar-container{
    position: relative;
    background: url(../public/home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width:auto;
    height: 100vh;
}
.logo{
    position: absolute;
    top: 20px;
    right: 40px;
}